.jumbotron {
  background: url("https://coverfiles.alphacoders.com/393/39313.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
}

.jumbotron form {
  background: #fff;
  opacity: 0.8;
  height: 200px;
}
